<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="loginForm" action="/api/auth/login">
        <input type="text" name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="enter password">
        <button>Login</button>
        
    </form>
    <button id="signupbtn">Signup</button>

    <script>
        const form = document.getElementById("loginForm");
        const button = document.querySelector("#loginForm button")
        form.addEventListener("submit",(event)=>{
            event.preventDefault();

            const formData = new FormData(form);

            fetch('/api/auth/login',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: formData.get('email'),
                    password: formData.get('password')
                })
            })
            .then(response => {
                if(response.status === 500){
                    alert("Internal Server Error, please try again later")
                }
                if(response.redirected){
                    window.location.href = response.url
                }
            })
        })
        
        const signupbtn = document.getElementById("signupbtn")
        signupbtn.addEventListener("click",()=>{
            window.location.href = '/auth/signup'
        })
    </script>
</body>
</html>